.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	text-transform: none;
}

.copyright {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 1.5rem;
	text-align: center;
	font-size: 1.25rem;
}

.col2 {
	display: flex;
	text-align: left;
	font-size: 0.6em;
	line-height: 1.2em;
	padding: 0 2rem;
}

.col2 > div {
	flex: 1 1 50%;
}

.reveal code {
	color: #bf79db;
}

.reveal pre {
	width: auto;
	font-size: 18px;
	box-shadow: none;
}

.reveal pre + .filename {
	font-size: 12px;
	line-height: 12px;
	margin-top: -15px;
	color: grey;
	font-style: italic;
}


